{{ define "main" }}
<div class="container" style="max-width: 800px;">
  <h1 class="mb-4 text-center">Publications</h1>
  <div class="pub-list" style="font-size: 0.9em;">
    {{ $total := len .Pages }}
    {{ range $index, $page := .Pages.ByDate.Reverse }}
    <div class="pub-item">
      <h2 style="font-size: 1.3em;"><a href="{{ .RelPermalink }}">{{ sub $total $index }}. {{ .Title }}</a></h2>
      <div class="article-style">
        {{ with .Params.authors }}
        <div class="authors">
          {{ $authors := delimit . ", " }}
          {{ partial "authors.html" (dict "authors" $authors) }}
        </div>
        {{ end }}
        {{ if .Params.publication }}
        <div class="pub-publication">
          {{ .Params.publication | markdownify }}
        </div>
        {{ end }}
        {{ if .Params.publication_short }}
        <div class="pub-publication">
          {{ .Params.publication_short | markdownify }}
        </div>
        {{ end }}
      </div>
    </div>
    {{ end }}
  </div>
</div>
{{ end }} 